.view-container{
    margin-top:20px;
   
}

.container{
    background-color: rgba(248, 244, 244, 0.952);
}


.book-list .thumbnail .caption{
    position:relative;
    z-index:40;
}

.caption{
    /* min-height:165px; */
    border-top: 1px solid #DCDCDC;
}

.book-list .thumbnail img{
    width:60%;
    height:60%;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
    
}

.thumbnail{
    overflow: hidden;
    height:250px;
    border:1px solid rgba(194, 194, 194, 0.836);
    
}

.head-container{
    border-bottom :1px solid rgba(194, 194, 194, 0.836);
    padding-bottom: 3px;
    margin-bottom: 10px;
};

.totalProds{
    vertical-align: middle;
};

.header{
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.books .book-list{
    display: inline-block;
    float: none;
    
    
}

.open>.dropdown-menu{
    min-width: 100%;
    z-index: 1001;
}
.open>.dropdown-menu > div,.open>.dropdown-menu{
    background-color: #f9f9f9;
    margin: 1px;
}

.total{
    margin: 5px 5px 5px 0;
}


.thumbnail img {
    
    display:inline-block !important;
    background-color: #fff;
    border: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    

}

.thumbnail .caption-full {
    padding: 3px;
    color: #333;
}
footer {
    margin: 50px 0;
}


@media only screen and (max-width : 1200px){
}
@media only screen and (max-width : 992px){
}
@media only screen and (max-width : 768px){
}
@media only screen and (max-width : 480px){
}
@media only screen and (max-width : 320px){
}


ul {
    font-size: 0;
  }
ul li {
    font-size: 16px;
    min-width: 30px;
    height: auto;
    text-align: center;
  }

.dropdown{
    margin: 20px 0;
}